@charset "utf-8";
/* CSS Document */
* {
    margin: 0px;
    font-size: 12px;
    color: #666666;
}

a img {
    border: 0px;
}

#mid p a {
    color: #3A6AB3
}

#mid p a:hover {
    color: #FF0000;
    text-decoration: underline
}

#showCar {
    background-color: #F0F0F0;
    border: 1px solid #D5D5D5;
    padding: 10px;
}

#showCar div {
    background-color: #FFFFFF;
    border: 1px solid #D5D5D5;
    padding: 10px;
}

#showCar table {
    border: 1px solid #D5D5D5;
}

#showCar table tr td {
    border-bottom: 1px solid #D5D5D5;
    /*border-right:1px solid #D5D5D5;*/
    text-align: center;
    height: 65px;
}

#showCar #title td {
    height: 30px;
    color: #000000;
    font: bold
}

#showCar .ftotal {
    margin-top: 10px;
    text-align: right;
    padding-right: 50px;
    font-size: 14px;
    font: bold;
    color: #FF0000
}

#showCar table input {
    width: 25px;
    text-align: center
}

.fontOnHover {
    color: #FF0000;
    text-decoration: underline
}

