* {
    margin: 0px;
    font-size: 12px;
    color: #666666;
}

* {
    margin: 0px;
    font-size: 12px;
    color: #666666;
}

.forderInfo {
    background-color: #FFFFFF;
    padding: 5px 0px 5px 300px;
}

.forderInfo p {
    margin: 10px 0px;
}

.forderInfo p span {
    margin-right: 8px;
}

.forderInfo p input {
    background-image: url(../../images/car/goBank.jpg);
    width: 185px;
    height: 35px;
    border: 0px;
}